*{
 
    box-sizing: content-box;
}
body {
   font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
    color: #000000;
    max-width: 720px;
    background-color:aliceblue;
  
    margin: 0px auto;
    padding: 30px 20px;
}

h1{
  text-align: center;
  color: midnightblue;
  border-bottom: 3px solid rgb(155, 118, 118);
  padding-bottom: 20px;

}

#logo{
  width: 100px;
  height: 100px;
  margin-bottom: 15px;
  border-radius: 50%;
   object-fit:cover;
}

fieldset{
  background-color:white;
  font-weight: lighter;
  padding: 20px 30px;
  border-radius: 10%;
  margin-bottom: 20px;
}

legend{
  background-color: midnightblue;
    color: white;
  font-weight: bold;
  padding: 20px 15px;
  border-radius: 10%;

}

table{
  width: 100%;
  border-collapse: collapse;
}

td{
  padding: 10px 10px;

}

#education{
  text-align: center;
  border: 1px solid steelblue;
  
}
#personal{
  border: 1px solid ;
}

#education th{
  text-align: center;
  border: 1px solid lightblue;
}



